@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

/*
#72705B verde musgo
#F18701 laranja 
Azul::   #2176AE
Bege -- #F4EAE6
*/

body {
    background-color: #72705B;
    padding: 10px;
    margin: 15px;
} 

header > nav {
    text-align: center;
    font-size: large;
    font-weight: bolder;
    padding: 10px;
}

.rola > a {
    color: #F4EAE6;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.137);
    text-decoration: none;
}

.rola > a:hover {
    background-color: #F18701;
    color: #F4EAE6;
}

main {
    background-color: #F4EAE6;
    padding: 10px;
    border-radius: 20px;
    min-width: auto;
    max-width: 960px;
    margin: auto;
}

section > h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: normal;
}

section > span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    font-weight: normal;
}

span > a {
    font-weight: bold;
    text-decoration: none;
    color: #2176AE;
}

span a:hover {
    text-decoration: underline;
    color: #F18701;
}

#sobre {
    background-color: #72705B;
    padding: 30px;
    border-radius: 20px;
    min-width: auto;
    max-width: 960px;
    margin: auto;
}

#sobre h2 {
    color: #F4EAE6;
    text-align: center;
}

#sobre > p {
    color: #F4EAE6;
    text-align: justify;
    font-size: 1.3em;
    text-indent: 30px;
}

img.imagem {
    padding: 10px;
    width: 10%;
    display: block;
    margin: auto;
}

img#logo {
    display: block;
    margin: auto;
    width: 30%;
}

article {
    background-color: #72705B;
    padding: 30px;
    border-radius: 20px;
    min-width: auto;
    max-width: 960px;
    margin: auto;
}

section article > h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    text-align: center;
}

article p {
    color: #F4EAE6;
    text-align: justify;
    font-size: 1.3em;
    text-indent: 30px;
}

img.foto {
    display: block;
    margin: auto;
    width: 30%;
}

footer {
    background-color: #F4EAE6;
}